.dsm-notifications-bar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 80%;
    margin-left: -40%;
}

.dsm-notification {
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 3px;
    opacity: 0.8;
}

.dsm-notification.ng-enter {
    animation: push-down 1s;
}

.dsm-notification.ng-leave {
    animation: fadeout 1s;
}

.dsm-notification.info {
    background: #ddddff;
    border-left: 6px solid #3643f4;
}

.dsm-notification.success {
    background: #ddffdd;
    border-left: 6px solid #36f443;
}

.dsm-notification.failure {
    background: #ffdddd;
    border-left: 6px solid #f44336;
}

.dsm-notification .close {
    float: right;
    font-weight: bold;
    cursor: pointer;
}

@keyframes push-down {
    from {height: 0; opacity: 0;}
    to {height: initial; opacity: 0.8;}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}