#activityModal .dsm-modal-wrapper {
    width: 60vw;
}

#activityModal .dsm-modal-wrapper .modal-body {
    max-height: 60vh;
}

#activityModal #activityStartDate,
#activityModal #activityStartTime,
#activityModal #activityEndDate,
#activityModal #activityEndTime {
    width: 50%;
}

#activityModal #activityStartTime,
#activityModal #activityEndTime,
#activityModal .modal-footer button.cancel {
    float: right;
}

#activityModal .modal-footer button {
    width: 50%;
}