<div id="activitiesList" class="container">
    <div class="activities-toolbar">
        <button type="button" class="default" ng-click="ctrl.createActivity()">
            <span class="icon-plus-circle"></span>
            New Activity
        </button>
    </div>
    <div class="side-list">
        <ul>
            <li ng-repeat="activity in ctrl.activities" ng-class="{'active': activity == ctrl.selectedActivity}">
                <a href ng-click="ctrl.selectedActivity = activity">{{activity.name}}</a>
            </li>
        </ul>
    </div>
    <div ng-if="!ctrl.selectedActivity">
        Select an activity to view its details.
    </div>
    <div class="activity-details" ng-if="ctrl.selectedActivity">
        <div class="activity-toolbar">
            <button class="default" ng-click="ctrl.editActivity(ctrl.selectedActivity)">
                <span class="icon-pencil"></span>
                Edit
            </button>
            <button class="danger" ng-click="ctrl.deleteActivity()">
                <span class="icon-times-circle"></span>
                Delete
            </button>
        </div>
        <span><b>Name:</b> {{ctrl.selectedActivity.name}}</span><br>
        <span><b>Starts at:</b> {{ctrl.selectedActivity.startDate | date:'dd/MM/yyyy - HH:mm'}}</span><br>
        <span><b>Ends at:</b> {{ctrl.selectedActivity.endDate | date:'dd/MM/yyyy - HH:mm'}}</span><br>
        <span ng-if="ctrl.selectedActivity.location"><b>At:</b> {{ctrl.selectedActivity.location}}<span><br>
        <p style="white-space: pre;">{{ctrl.selectedActivity.description}}</p>
    </div>
</div>